@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
}

.post-content p{
   margin-bottom: 0.5rem;
}

.post-content h1{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}
.post-content h2{
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content a{
    color: rgb(73,149,199);
    text-decoration: none;
}

.page-content a:hover{
    text-decoration: underline;
}

.dark .post-content a{
  color: red;
}

.main23{
    height: 90vh;
    width: 100%;
    background-color: #111;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    padding: 20px;
    border: 3px solid #fff;
    border-radius: 20px;
    width: 500px;
}

.box{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin: 20px;
    background:linear-gradient(to right bottom,rgb(141, 76, 89),crimson);
}

.circle{
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 50%;
    background: linear-gradient(to right bottom,lightblue,cadetblue);
}